<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista Usuarios</title>
  </head>
  <style>
    li {
      font-size: 18px;
      font-family: sans-serif;
      padding: 2px;
    }
    p {
      font-size: 20px;
      font-family: sans-serif;
    }
  </style>
  <body>
    <p><u>Usuarios disponibles</u> (user:password)</p>
    <ul id="list"></ul>
  </body>
</html>
