<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <p>Prueba db</p>
    <script type="text/javascript">
      function query(){

      }
    </script>
  </body>
</html>
