<form method='post'>
  <p style="font-family: times, serif; font-size:14pt; font-style:italic">Nombre de usuario: </p>
  <input type='text' name='username' value=""/>

  <p style="font-family: times, serif; font-size:14pt; font-style:italic">Password: </p>
  <input type='password' name='contra' value=""/>
  <!--<input type='number' name='num'/> -->
  <input type='submit'/>
</form>
